<html>
  <head></head>
  <body>

  <div>
    <span class="d-block p-2 bg-dark text-white text-center rounded">
      <form>
        <div class="p-3 mb-2 bg-primary text-white rounded h4">New Form</div>
        <button class="btn btn-success" style="float: right;" (click)="createForm()">Create</button>
        <div class="p-3 mb-2 bg-light rounded h4 textInfo">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Name</span>
                </div>
                <input type="text" class="form-control" placeholder="name forms..." aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="nameForms" name="name_forms">
            </div>
      
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Description</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" placeholder="description form..." [(ngModel)]="disForms" name="dis_forms"></textarea>
            </div>
            
            <div *ngFor="let image of formImage">
              <img type="image" class="img-circle center" [src]="image.path" style="width:25% ;height:25%"><br>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload Photo</span>
                </div>
                <div class="custom-file">
                  <input type="file" accept="image/*" class="custom-file-input" (change)="handleFileInput($event)">
                <span class="input-group-text">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </span>
                
                </div>
            </div>
            <button type="button" class="btn btn-success btn-lg btn-block" (click)="addItem()"><h2>+</h2></button>
            <div *ngIf="isAdditem">
                <ul class="list-group list-group-flush" *ngFor="let form of myForm; let i = index">
                    <li class="list-group-item ">
                        <h2>Form list {{form.id}}</h2>
                        Title: <input class="form-control" [(ngModel)]="form.title" name="formtitle">
                        Description: <input class="form-control" [(ngModel)]="form.description" name="formdes"><br>
          
                        Sample:
                        <div>
                          {{form.title}} <br>
                          <input class="form-control" [placeholder]="form.description">
                        </div>
                        <button class="btn btn-outline-warning " data-toggle="modal" data-target="#myModalformlist" >Change</button>
                        <button class="btn btn-outline-danger " (click)="removeItem(i)">Delete</button>
                    </li>
                  </ul>
      
            </div>
      </div>
        <div class="p-3 mb-5 bg-dark text-white rounded h4">
      </div>
      </form>
    </span>
  </div>




<!-- The Modal Edit Profile -->
<div class="modal" id="myModalformlist">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Change Password</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <input type="password" class="form-control" id="oldPass" placeholder="old password"><br>
            <input type="password" class="form-control" id="newPass" placeholder="new password"><br>
            <input type="password" class="form-control" id="confirmPass" placeholder="confirm new password">
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success">Save Change</button> 
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
<!-- end Modal -->




  </body>
</html>
